* {
  margin: 0px;
  padding: 0px;
} 

body {
  margin: 0;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/background/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 768px;
}

.header-main>.logo{
  margin-top: 41px;
}

.header-main>div>h1 {
  height: 60px;
  font-size: 3.75em;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 5.709374904632568px;
  text-align: center;
  color: #fff;
  text-align: center;
}

.header-main>div>p{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 19px;
letter-spacing: 0px;
text-align: center;
color: #fff;
padding-top: 0em;
}
